/* body{
    background-color: aqua;
} */

.header_get{
    background-color: rgb(117, 252, 252);
    height: 500px;

}
.h1_main{
    text-align: center;

}
.lorem{
    text-align: center
}

.section1{

}

.section2{
    
}

.section3{
    
}

.section4{
    
}

.section5{
    
}

.my_footer{

}